@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');
*{
    font-family: 'Almarai', sans-serif;
    font-size: 3vmin;
    scroll-behavior: smooth;
    --space: 5vmin;
    --color1:white;
    --color2:#5C527F;
    --color3:#6E85B2;
    --speed: 0.5s;
}
body{
    text-align: center;
    align-content: center;
    background-color: var(--color1);
    transition: var(--speed);
}
h1 {
    font-size: 5.9vw;
}
h2 {
    font-size: 4.5vh;
}
textarea{
    display: block;
    margin: 0 auto;
    width: 50%;
    resize: none;
}
nav *{
    margin: 10%;
}
a{
    width: auto;
    text-decoration: none;
    color:black;
    text-underline-offset: 3px;
    text-decoration: underline 3px var(--color3);
    transition: var(--speed);
}
img{
    width: 100%;
    height: auto;
}
a:hover{
    color: var(--color3);
}
button{
    display: block;
    margin: 0 auto;
    padding: 3vmin;
    background-color: var(--color3);
    border: none;
    cursor: pointer;
    transition: var(--speed);
}
button:hover{
    background-color: var(--color1);
}
.block{
    box-shadow: black 0px 7px 29px 0px;
    padding-top: var(--space);
    padding-bottom: var(--space);
    margin-top: var(--space);
    margin-bottom: var(--space);
    width: 100%;
    background-color: var(--color2);
    height: auto;
}
.block .img1{
    width: 25%;
    border-radius: 50%;
}
.block .img2{
    display: block;
    width: 5vmin;
    height: auto;
    margin: 0 auto;
}
#darkmode{
    position: fixed;
    top:0;
    left:0;
    margin: 3vmin;
    border-radius: 50%;
}
#up{
    opacity: 0;
    position: fixed;
    bottom:0;
    right:0;
    margin: 3vmin;
    border-radius: 50%;
    transition: var(--speed);
}