@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');
*{
    font-family: 'Almarai', sans-serif;
    font-size: 2.5vmin;
    width: auto;
    --space: 2.5vmin;
    --color1:#3E2C41;
    --color2:#5C527F;
    --color3:#6E85B2;
}
body{
    text-align: center;
    align-content: center;
    background-color: var(--color1);
}
h1 {
    font-size: 5.9vw;
}
h2 {
    font-size: 4.5vh;
}
textarea{
    display: block;
    margin: 0 auto;
    width: 50%;
    resize: none;
}
nav *{
    margin: 10%;
}
a{
    text-decoration: none;
    color:black;
    text-underline-offset: 3px;
    text-decoration: underline 3px var(--color3);
    transition: 0.5s;
}
a:hover{
    color: var(--color3);
}
button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--color3);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: var(--color1);
}
.block{
    padding-top: var(--space);
    padding-bottom: var(--space);
    margin-top: var(--space);
    margin-bottom: var(--space);
    width: 100%;
    background-color: var(--color2);
    height: auto;
}
.block .img1{
    width: 25%;
    border-radius: 50%;
}
.block .img2{
    display: block;
    width: 5vmin;
    height: auto;
    margin: 0 auto;
}